@using ERPProject.UI.Areas.Admin.Models;
@model UserVM
@{
    ViewData["Title"] = "User";
    ViewData["baslik"] = "Personeller";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<script>
    $(document).ready(function () {
        $('#staticBackdrop').on('shown.bs.modal', function () {
            const passwordInput = $('#inputSifre');
            const toggleButton = $('#togglePassword');
            const eyeIcon = $('#togglePassword .bi-eye');
            const slashEyeIcon = $('#togglePassword .bi-eye-slash');

            toggleButton.click(function () {
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    eyeIcon.hide();
                    slashEyeIcon.show();
                } else {
                    passwordInput.attr('type', 'password');
                    slashEyeIcon.hide();
                    eyeIcon.show();
                }

            });
            eyeIcon.show();
            slashEyeIcon.hide();
        });
        $('#staticBackdrop1').on('shown.bs.modal', function () {
            const passwordInput = $('#inputSifre1');
            const toggleButton = $('#togglePassword1');
            const eyeIcon = $('#togglePassword1 .bi-eye');
            const slashEyeIcon = $('#togglePassword1 .bi-eye-slash');

            toggleButton.click(function () {
                if (passwordInput.attr('type') === 'password') {
                    passwordInput.attr('type', 'text');
                    eyeIcon.hide();
                    slashEyeIcon.show();
                } else {
                    passwordInput.attr('type', 'password');
                    slashEyeIcon.hide();
                    eyeIcon.show();
                }

            });
            eyeIcon.show();
            slashEyeIcon.hide();
        });
    });
</script>
<div class="container mb-2 mt-5" style="width: 80%;">
    <div class="input-group input-group-lg">
        <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Personel Ekle
        </button>
        <input autocomplete="off" type="text" class="form-control" placeholder="Arama Yap...">
        <button class="btn btn-secondary"><i onclick="alert('Arama Yapılacak')">Ara...</i></button>
    </div>
</div>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Email</th>
            <th scope="col">Telefon</th>
            <th scope="col">Departman</th>
            <th scope="col">İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Phone</td>
                <td>@user.DepartmentName</td>
                <td>
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            İşlemler
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" data-id="@user.Id" data-name="@user.Name" data-lastname="@user.LastName" data-email="@user.Email" data-phone="@user.Phone" data-password="@user.Password" data-rol="@user.RoleId" data-departman="@user.DepartmentId">Düzenle</li>
                            <li class="dropdown-item">İşlem 2</li>
                            <hr>
                            <li class="dropdown-item text-danger" onclick="confirmUserDelete(@user.Id)">Sil</li>
                        </ul>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Personel Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/KullaniciEkle" method="post">
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ad..." id="inputUrunAd" name="Name" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Soyad..." id="inputUrunAd" name="LastName" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Email..." id="inputUrunAd" name="Email" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        <input autocomplete="off" class="form-control" id="inputPhone" type="text" name="Phone" aria-label="Please enter your phone number" placeholder="(111)-111-1111" maxlength="10" minlength="10" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-incognito"></i></span>
                        <input autocomplete="off" type="password" class="form-control" placeholder="Şifre..." id="inputSifre" name="Password" aria-describedby="basic-addon1" required>
                        <button id="togglePassword" class="btn btn-light" type="button"><i class="bi bi-eye-slash"></i><i class="bi bi-eye"></i></button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputYetki"><i class="bi bi-person-gear"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputYetki" name="RoleId" required>
                            <option selected>Yetki Seç...</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }

                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDeparman"><i class="bi bi-building"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputDeparman" name="DepartmentId" required>
                            <option selected>Departman Seç...</option>
                            @foreach (var b in Model.Departments)
                            {
                                <option value="@b.Id">@b.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Personel Güncelle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/KullaniciGuncelle" method="post">
                <div class="modal-body">
                    <input autocomplete="off" id="inputUserId" name="Id" class="form-control" type="hidden">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Ad..." id="inputUserAd" name="Name" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Soyad..." id="inputUserSoyad" name="LastName" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at-fill"></i></span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Email..." id="inputEmail" name="Email" aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-telephone-fill"></i></span>
                        <input autocomplete="off" class="form-control" id="inputPhone1" type="text" name="Phone" aria-label="Please enter your phone number" placeholder="(111)-111-1111" maxlength="10" minlength="10" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-incognito"></i></span>
                        <input autocomplete="off" type="password" class="form-control" placeholder="Şifre..." id="inputSifre1" name="Password" aria-describedby="basic-addon1" required>
                        <button id="togglePassword1" class="btn btn-light" type="button"><i class="bi bi-eye-slash"></i><i class="bi bi-eye"></i></button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputYetki"><i class="bi bi-person-gear"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputYetki1" name="RoleId" required>
                            @foreach (var item in Model.Roles)
                            {
                                        <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputDeparman"><i class="bi bi-building"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputDeparman1" name="DepartmentId" required>
                            @foreach (var b in Model.Departments)
                            {
                                <option value="@b.Id">@b.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function phoneMask() {
        var num = $("#inputPhone").val().replace(/\D/g, '');
        $(this).val(num.substring(0, 10));
    }
    $('[id="inputPhone"]').keyup(phoneMask);
    function phoneMask1() {
        var num = $("#inputPhone1").val().replace(/\D/g, '');
        $(this).val(num.substring(0, 10));
    }
    $('[id="inputPhone1"]').keyup(phoneMask1);
    $('#staticBackdrop1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var id = button.data('id');
        var name = button.data('name');
        var lastname = button.data('lastname');
        var email = button.data('email');
        var phone = button.data('phone');
        var pass = button.data('password');
        var rol = button.data('rol');
        var dep = button.data('departman');
        $("#inputUserId").val(id);
        $("#inputUserAd").val(name);
        $("#inputUserSoyad").val(lastname);
        $("#inputEmail").val(email);
        $("#inputPhone1").val(phone);
        $("#inputSifre1").val(pass);
        $("#inputYetki1").val(rol);
        $("#inputDeparman1").val(dep);
        alert(rol);
    });
    function confirmUserDelete(id) {
        var result = confirm("Bu personeli silmek istediğinizden emin misiniz?");
        if (result) {
            window.location.href = 'KullaniciSil/' + id;
        }
    }
</script>