@using ERPProject.Entity.DTO.UserDTO
@model UserDTOResponse
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Profile";

    ViewData["baslik"] = "Profil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    
}
<script>
    document.getElementById('SearchBtn').style.display = 'none';
</script>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-4 mb-sm-5">
                <div class="card card-style1 border-0">
                    <div class="card-body p-1-9 p-sm-2-3 p-md-6 p-lg-7">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-4 mb-lg-0">
                                <img src="~/Admin/img/profil.jpg" style="max-height:300px; max-width:300px;" alt="...">
                            </div>
                            <div class="col-lg-6 px-xl-10">
                                <div class="d-lg-inline-block py-1-9 px-1-9 px-sm-6 mb-1-9 rounded">
                                    <h3 class="h2 text-dark mb-0">@Model.Name @Model.LastName</h3>
                                    <span class="text-dark">Pozisyon: @Model.RoleName</span>
                                </div>
                                <ul class="list-unstyled mb-1-9">
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Şirket:</span>Şirket Gelecek</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Departman:</span> @Model.DepartmentName</li>
                                    <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> @Model.Email</li>
                                    <li class="display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> 0 @Model.Phone</li>
                                </ul>
                                <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
                                    <li><a href="#!"><i class="bi-twitter"></i></a></li>
                                    <li><a href="#!"><i class="bi-facebook"></i></a></li>
                                    <li><a href="#!"><i class="bi-pinterest"></i></a></li>
                                    <li><a href="#!"><i class="bi-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>

</style>