@using ERPProject.UI.Areas.Admin.Models;
@model ProductVM
@{
    ViewData["Title"] = "Urunler";
    ViewData["baslik"] = "Ürünler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br></br>
<div class="container col col-md-9 py-3">
    <div class="container mb-2" style="width: 80%;">
        <div class="input-group input-group-lg">
            <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Ürün Ekle
            </button>
            <input autocomplete="off" type="text" class="form-control" placeholder="Arama Yap...">
            <button class="btn btn-secondary"><i onclick="alert('Arama Yapılacak')">Ara...</i></button>
        </div>
    </div>

    <table class="table table-bordered border-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Adı</th>
                <th scope="col">Kategori</th>
                <th scope="col">Marka</th>
                <th scope="col">Açıklama</th>
                <th scope="col" style="width:100px ">İşlemler</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.BrandName</td>
                    <td >@item.Description</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                İşlemler
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop1" data-id="@item.Id" data-name-id="@item.Name">Düzenle</a></li>
                                <li><hr class="dropdown-divider text-danger"></li>
                                <li><a class="dropdown-item text-danger" onclick="confirmUrunDelete(@item.Id)">Sil</a></li>
                            </ul>
                        </div>
                    </td>


                </tr>
            }

        </tbody>
    </table>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ürün Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/UrunEkle" method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Ürün İsmi</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Urun İsmi..." id="inputUrunAd" name="Name" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputKategori"><i class="bi bi-trash"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputKategori" name="CategoryId" required>
                            <option selected>Kategori Seç...</option>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                            
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputMarka"><i class="bi bi-trash"></i></label>
                        </div>
                        <select class="custom-select col col-md-9" id="inputMarka" name="BrandId" required>
                            <option selected>Marka Seç...</option>
                            @foreach (var item in Model.Brands)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Ürün Açıklaması</span>
                        <textarea style="min-height:150px; max-height:150px;" type="text" class="form-control" placeholder="Ürün Açıklaması..." id="inputUrunAciklama" name="Description" aria-describedby="basic-addon1"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static1" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ürün Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/Admin/UrunGuncelle" method="post">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="hidden" class="form-control" id="inputKategoriId" name="Id" value="" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Urun İsmi</span>
                        <input autocomplete="off" type="text" class="form-control" placeholder="Yetki İsmi..." id="inputKategoriAd" name="Name" aria-describedby="basic-addon1">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="submit" class="btn btn-primary">Kaydet</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function confirmUrunDelete(id) {
        var result = confirm("Bu ürünü silmek istediğinizden emin misiniz?");
        if (result) {
            window.location.href = 'UrunSil/' + id;
        }
    }
    $('#staticBackdrop1').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var CompanyId = button.data('id');
        var KategoriAd = button.data('nameId');
        $("#inputKategoriId").val(CompanyId);
        $("#inputKategoriAd").val(KategoriAd);
    });
</script>


